html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}
html {
  scroll-behavior: smooth;
}
#site-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page-content1{
  flex: 1 0 auto;
  margin-bottom: 10%;
}


@media screen and (max-width: 560px) {
.mission-header{
        font-size: 25px;
        letter-spacing: 6px;
        margin-bottom: 8%;
    }
    .card1{
        width: 95%;
        height: 100px;
        background: rgba(48, 118, 114, 0.1);
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 3%;
  
    }
    .profile-image{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-left: 5%;
    margin-top: 2.5%;
    }
    .right-text{
        width: 73%;
        float:right;
        margin-top: 2%;
       
     
    }
    .service-text{
        text-align: start;
        font-size: 8px;
        margin-left: 10px !important;
        font-family: 'Montserrat', sans-serif;
     
     
    }
    .service-header{
        font-size: 12px;
        font-weight: bold;
    }
}













@media screen and (min-width: 768px) {
    .mission-header{
        font-size: 25px;
        letter-spacing: 6px;
        margin-bottom: 8%;
    }
    .card1{
        width: 90%;
        height: 150px;
        background: rgba(48, 118, 114, 0.1);
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 3%;
  
    }
    .profile-image{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-left: 5%;
    margin-top: 2.5%;
    }
    .right-text{
        width: 70%;
        float:right;
        margin-top: 2%;
        margin-right: 3%;
    }
    .service-text{
        text-align: start;
        font-size: 14px;
        margin-left: 10px !important;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
    }
    .service-header{
        font-size: 18px;
        font-weight: bold;
    }
}

@media screen and (min-width: 1200px) {
    .mission-header{
        font-size: 30px;
        letter-spacing: 6px;
        margin-bottom: 4%;
    }
    .card1{
        width: 75%;
        height: 190px;  
    }
    .profile-image{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-left: 5%;
    margin-top: 1.5%;
    }
    .right-text{
        width: 70%;
        float:right;
        margin-top: 1%;
    
        margin-right: 2%;
    }
    .service-text{
        text-align: start;
        font-size: 20px;
        margin-left: 10px !important;
        text-align: justify;
     
    }
    .service-header{
        font-size: 23px;
        font-weight: bold;
    }
}